<div *ngIf="!currentGame">
  <h2>Game list</h2>
  <ul>
    <li *ngFor="let game of games">
      <div>
        <p>
          <span>{{game.id}} </span>
          <span>Player1: {{game.player1.name}} </span>
          <span>Player2: {{game.player2?.name}} </span>
          <span>{{game.state}} </span>
          <button (click)="joinGame(game.id)" *ngIf="game.state === 'WAITING_FOR_PLAYERS'" > Join </button>
        </p>
      </div>
    </li>
  </ul>
  <button (click)="createGame()">
    Create game
  </button>
</div>

<app-game *ngIf="currentGame" [game]="currentGame"></app-game>
