<div *ngIf="!currentGame">
  <hr>
  <h4>Game list</h4>
  <ul class="list-group">
    <li *ngFor="let game of games" class="list-group-item d-flex justify-content-between align-items-center">
        <span>Game{{game.id}}</span>
        <span>Player1: {{game.player1.name}} </span>
        <span>Player2: {{game.player2 ? game.player2.name : '-'}} </span>
        <span class="badge badge-primary badge-pill">{{game.state}} </span>
        <button class="btn btn-success" (click)="joinGame(game.id)" *ngIf="game.state === 'WAITING_FOR_PLAYERS'">Join</button>
    </li>
  </ul>
  <button (click)="createGame()" class="btn btn-primary">Create game</button>
</div>

<app-game *ngIf="currentGame" [game]="currentGame" (gameEnded)="currentGameEnded($event)"></app-game>
